<header class="navbar">Mello . . .</header>
    <div class="main">
    <!--Each 'sticky' as it is coded now is like our 'lanes' -->
        <section class="sticky">
            <div class="title">To-Do:</div>
            <div class="outputContainer" id="output">
                <div class="output">stuff i just typed</div>
                <div class="output">next thing I typed</div>
                </div>
                <div class="footer">
                    <!-- https://stackoverflow.com/questions/2774841/best-way-to-add-comments-in-erb -->
                    <!--  <input type="text" id="textbox01" placeholder="Your Sticky" class="textinput interfacetext"/> -->
                    
                    <!-- form attributes => -->
                    
                    <!-- https://edgeguides.rubyonrails.org/form_helpers.html -->

                    <!-- [1, 2, 3].each do |i| puts i end -->
                    <!--<div class="textinput interfacetext">-->
                    <%= form_with model: @card do |form| %>
                      <%= form.label :body %><br>
                      <%= form.text_field :body %>
                      <br><%= form.label :priority %><br>
                      <%= form.text_field :priority %>
                      <br><%= form.label :due %><br>
                      <%= form.text_field :due %>
                      
                    
                   <div class="textsend" onclick="window.updateCard()">
                        <%= form.submit%>
                    </div>
                    <% end %>
                </div>
            </div>
        </section>
    </div>